version: "3.9"

services:
  # ======================
  # INFRA
  # ======================
  postgres:
    image: postgres:15
    container_name: postgres_db
    profiles: ["infra"]
    restart: always
    environment:
      POSTGRES_DB: bear
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U root -d bear"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - backend

  kafka-service:
    image: apache/kafka:4.1.1
    container_name: kafka
    profiles: ["infra"]
    ports:
      - "29092:29092"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://:9092,PLAINTEXT_HOST://:29092,CONTROLLER://:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
    volumes:
      - kafka_data:/tmp/kraft-combined-logs
    healthcheck:
      test: ["CMD-SHELL", "nc -z localhost 9092"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s
    networks:
      - backend

  # ======================
  # API SERVICES
  # ======================
  post-service:
    container_name: bear-post-service
    profiles: ["api"]

    build:
      context: ./backend/services/post-service
      dockerfile: Dockerfile.dev

    command: npm run dev

    volumes:
      # mount source code → hot reload
      - ./backend/services/post-service:/app
      # giữ node_modules trong container
      - /app/node_modules

    ports:
      - "3001:3000"

    env_file:
      - ./backend/services/post-service/.env

    environment:
      SERVICE_NAME: post-service
      KAFKA_BROKER: kafka:9092

    depends_on:
      postgres:
        condition: service_healthy
      kafka:
        condition: service_healthy

    restart: unless-stopped
    networks:
      - backend

# ======================
# VOLUMES
# ======================
volumes:
  postgres_data:
  kafka_data:

# ======================
# NETWORKS
# ======================
networks:
  backend:
    driver: bridge
